<html lang="pt-br">

<head>
	<meta charset="UTF-8"/>
	<title>Formulário TCC</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
	<style type="text/css">
		form{
			width: 90%;
			margin: 0 auto;
		}
		h2{
			text-align: center;
		}
		.btn{
			margin: 0 auto;
			margin-bottom: 30px;
		}
	</style>
</head>

<body>
	<form action="/" method="post">
		<h2>Formulario</h2>
		<br/>
		<div class="form-group">
			<label for="tipoDeUsuario">1 - Tipo de Usuário: </label>
			<input type="text" class="form-control" name="tipoDeUsuario" />
		</div>
		<br/>

		<div class="form-group">
			<label>2 - Dados do Usuário: </label>
			<div class="form-group">
				<label for="nome">Nome: </label>
				<input type="text" class="form-control" name="nome" />
			</div>
			<div class="form-group">
				<label for="idade">Idade: </label>
				<input type="text" class="form-control" name="idade" />
			</div>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">3 – Com qual frequência você visita o zoológico(anual)? Porquê?</label>
			<textarea name="frequencia" class="form-control" id="frequencia" placeholder="Frêquencia, Porquê"></textarea>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">4 – Na sua concepção, qual é a função do zoológico?</label>
			<textarea name="frequencia" class="form-control" id="frequencia" placeholder="Frêquencia, Porquê"></textarea>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">5– Quais os problemas que você identifica quando vem ao zoológico?</label>
			<textarea name="frequencia" class="form-control" id="frequencia" placeholder="Frêquencia, Porquê"></textarea>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">6 – Quando você vai ao zoológico você considera que aprende bastante sobre os animais e educação ambiental?</label>
			<input type="text" class="form-control" name="problema" id="id_problema" placeholder="Problemas"/>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">7 – Você considera o zoológico um lugar instigante a ponte de fazer você explorá-lo?</label>
			<input type="text" class="form-control" name="problema" id="id_problema" placeholder="Problemas"/>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">8 – Você gostaria de aprender dinamicamente sobre animais</label>
			<input type="text" class="form-control" name="problema" id="id_problema" placeholder="Problemas"/>
		</div>
		<br/>

		<div class="form-group">
			<label for="frequencia">9 – As funcionalidades explicadas seriam uteis para você?</label>
			<input type="text" class="form-control" name="problema" id="id_problema" placeholder="Problemas"/>
		</div>
		<br/>

		<button type="submit" class="btn btn-default">Salvar</button>

	</form>

	<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>